

<h2 id="about">Who are you, and why do you care?</h2>

<p>Some years ago, I had a 'working from home' computer job, but found it a bit anti-social so I
    thought I could get my 'people-time' by working in a coffee shop in the morning and do my 'real job' in the afternoon.
    I also like to think that, if times got tough, I could always survive on minimum wage jobs, like in a cafe or restaurant.</p>

<p>I applied to the local "Gloria Jeans" coffee shop and didn't think anything of it when the manager told me my pay
    and that I could start right away.  When I received my first cheque I noticed my "age" was recorded as "17 years old".
    I rang to correct the error.  With some exasperation they told me that I'd been informed of the rate of pay at the interview, and that
    I'd agreed to the pay!  I had naively assumed that they would not offer me a pay rate below the legal minimum.
    I asked for a legal wage and was told that, in that case, they "had no shifts for me".
    I took a complaint to the Ombudsman and, at length, received my legal entitlement for the week worked.</p>

<p>Similarly I answered an ad for store packers by 'Franklins Big Fresh' in Warringah Mall Sydney.  It quickly
    became apparent that the types of people they wanted were those disadvantaged in some way and entirely submissive
    to whatever the boss bullied them into.  The
    advertised wages and hours were never honored and a large chunk of the initial intake simply dropped out
    in protest, thus the remaining staff were people without better options: poor english, physical/mental disabilities,
    drug habits, criminal records, and alternative appearance and lifestylers.
    Over a period of four months the wage packets shrank, intimidation increased, and the shift morphed into midnight till dawn.</p>

<p>In that job I never saw a payslip and simply received an envelope containing cash with my name handwritten on it.  There was
    no way of knowing what hours the pay was for, at what rate, or how much tax was taken, super, etc.  My requests for these
    details were ignored and each time I asked I found myself rostered for less shifts.  I was never 'sacked', but transitioned to
    not even making the roster.  Thus I had to ring and ask for shifts each week. Ultimately, there were none
    available when I did -'try again next week. Haha.'.  I got the message.</p>

<p>Unfortunately, in these cases, I was unable to assist my co-workers because the law requires every individual
    to raise their own complaint.  They were not capable of the paperwork, or too afraid: of losing their job, their visa.
    It was universal for non-citizens to fear expulsion from the country if they made any fuss.</p>

<p>Since that time I've often asked my local waiter or cafe attendant what rate they're getting paid.  Rarely has any
    worker been able to tell me the correct legal minimum rate.   Often they have revealed that they are receiving
    less than the minimum rate.  I fear this is widespread and has, as we have seen in the media, become a normal and
    conscious violation of small and large businesses alike.</p>
