

<a href="https://www.fwc.gov.au/documents/documents/modern_awards/award/ma000119/default.htm">Restaurant Industry Award (MA000119)</a>
<a href="https://www.abc.net.au/news/2018-05-21/underpaid-guide-getting-money-boss-owes-you/9776684">Underpaid guide to getting the money the boss owes you</a>
<p>You can download the complete schedule of rates from
    <a href="https://www.fairwork.gov.au/ArticleDocuments/872/restaurant-industry-award-ma000119-pay-guide.docx.aspx">Fair Work Australia Restaurant Industry Award MA000119</a></p>
<a href="https://www.fairwork.gov.au/ArticleDocuments/872/restaurant-industry-award-ma000119-pay-guide.docx.aspx">Fair Work Australia</a>
<a href="https://www.fwc.gov.au/documents/awardsandorders/html/pr700607.htm">Right to request casual conversion</a>
<a href="https://www.fwc.gov.au/documents/documents/modern_awards/award/ma000119/default.htm">MA000119</a>
<ul>
    <li><a href="https://www.fairwork.gov.au/pay/unpaid-work">If an employee has to do training as part of their job, they have to be paid the right pay for those hours worked.</a></li>
    <li><a href="https://www.fairwork.gov.au/pay/unpaid-work/unpaid-trials">Jessica must be paid for the time "trialing" her ability to work as a barista.</a></li>
</ul>


<h2 id="resources">Resources</h2>
<h3>For Employees</h3>
<div>
    <ul>
        <li>Legal Aid NSW: <a href="http://www.legalaid.nsw.gov.au/publications/factsheets-and-resources/ripped-off">
            Ripped off:'Your rights about unpaid wages and entitlements at work'</a></li>
        <li>Legal Aid NSW: <a href="http://www.legalaid.nsw.gov.au/publications/factsheets-and-resources/employment-problems">
            Employment Problems:'Spot the Signs - Is this happening to you'</a></li>
    </ul>
</div>

<h3>For Employers</h3>
<div>
    <ul>
        <li><a href="https://legalvision.com.au/michael-hill-underpayment-of-staff/">Advice for Business Owners</a></li>
        <li><a href="https://thenewdaily.com.au/money/finance-news/2019/09/19/wage-theft-prison-fines-employers/">
            NewDaily opinion piece on Government response to systemic underpayments in late 2019</a></li>
        <li><a href="http://www.austlii.edu.au/cgi-bin/sinodisp/au/cases/cth/FCA/2016/1290.html">
            FairWork vs Yogurberry 2016 & World Square Pty Ltd. Both, the Franchisees and Franchisors, judged liable for underpayments.
        </a></li>
        <li>The maximum court penalty for taking adverse action against an employee who asks about their pay rates or
            other working conditions is $10,200 for an individual and $51,000 for a company.</li>
    </ul>
</div>

<h2>In the News</h2>
<dl>
    <dt>Coles</dt>
    <dd><a href="https://www.abc.net.au/news/2020-02-18/coles-underpays-employess-20-million-review-reveals/11974984">
        Coles admits underpaying staff $20M (2020)
    </a></dd>
    <dt>Barry Coffee and Food</dt>
    <dd><a href="https://www.abc.net.au/news/2018-04-23/barry-cafe-in-northcote-accused-of-underpaying-casual-staff/9687054">
        Barry Cafe (Northcote/Melbourne) accused of underpaying staff (2018)
    </a></dd>
</dl>


<h2>The Honor Roll</h2>
<dl>
    <dt>McDonalds</dt>
    <dd><a href="https://www.insideretail.com.au/news/mcdonalds-turns-focus-juniors-201404">
        Audit of McDonalds chains finds no systemic underpayment (2010)</a></dd>
</dl>

<h2 id="confessions">Hall of Confession</h2>
<dl>
    <dt>Coles</dt>
    <dd><a href="https://www.abc.net.au/news/2020-02-18/coles-underpays-employess-20-million-review-reveals/11974984">
        Coles admits underpaying staff $20M (2020)
    </a></dd>
    <dt>Woolworths (Wesfarmers)</dt>
    <dd><a href="https://www.9news.com.au/national/woolworths-supermarket-staff-underpaying-workers-national-news/f134aa62-4eb3-4363-b8b4-78035c9f24d7">
        Woolworths confesses to underpaying 5700 staff up to $300,000,000 over nine year period (2019)</a></dd>
    <dt>Super Retail Group (Supercheap Auto, Rebel Sports, BCF, Macpac, Rays)</dt>
    <dd><a href="https://www.news.com.au/finance/business/retail/rebel-sport-bcf-owner-super-retail-will-cop-a-43-million-pretax-hit-to-firsthalf-earnings/news-story/2f04ed67baa7c44a69e73e1b04caeba5">
        $43,000,000 set aside to cover staff underpayments over past six years (2019)
    </a></dd>
    <dt>Michael Hill Jewellers</dt>
    <dd><a href="https://www.insideretail.com.au/news/michael-hill-reveals-six-years-of-staff-underpayment-201907">
        Michael Hill rectifies $25M worth of underpayments stretching back six years (2019)
    </a></dd>
    <dt>Wesfarmers</dt>
    <dd><a href="https://www.theguardian.com/australia-news/2019/oct/01/wesfarmers-workers-underpaid-15m-as-company-blames-inadvertent-errors">
        Wesfarmers reveals 6000 staff underpaid $15,000,000 in superannuation, loadings, entitlements and car expenses (2019)</a></dd>
    <dt>Bunnings (Wesfarmers)</dt>
    <dd><a href="https://thenewdaily.com.au/money/superannuation/2019/09/26/bunnings-admits-underpaying-staff/">
        Bunnings admit payroll error costing part timers an average of $200 per person in unpaid super.
    </a></dd>
    <dt>Lush Cosmetics</dt>
    <dd><a href="https://www.insideretail.com.au/news/lush-unintentionally-underpays-staff-201807">
        Lush announces $2,000,000 worth of payroll errors dating back to 2010 (2018)
    </a></dd>
    <dt>Australian Broadcasting Corporation</dt>
    <dd><a href="https://www.abc.net.au/news/2019-01-10/abc-says-it-underpaid-casual-employees/10705334">
        ABC admits it underpaid 2500 casual employees over six years (2019)</a><br/>
    <dt>Breadtop Bakery franchises</dt>
    <dd><a href="https://www.insideretail.com.au/news/breadtop-audit-staff-dough-201401">
        Breadtop enters Proactive Compliance Deed with Fair Work Ombudsman (2014)</a></dd>
</dl>


<h2 id="news">Hall of Shame</h2>
<dl>
    <dt>Domino's Pizza</dt>
    <dd><a href="https://www.smh.com.au/interactive/2017/the-dominos-effect/">
        Systemic underpayment rampant in Domino's Pizza franchises (2017)
    </a></dd>
    <dd><a href="https://www.smh.com.au/business/workplace/dominos-delivers-54m-to-underpaid-staff-20171009-gyxen8.html">
        Domino's pizza set aside $5,400,00 for unpaid wages (2017)
    </a></dd>
    <dd><a href="https://finance.nine.com.au/business-news/dominos-cautioned-over-underpaid-wages/da7d4d8e-db94-4909-8460-4c69b34a4f37">
        Ombudsman finds fault in 19 out of 23 Domino's Pizza stores investigated to date. Chief Executive denies systemic issues; claims 'administrative errors' (2018)
    </a></dd>
    <dd><a href="https://www.insideretail.com.au/news/dominos-facing-class-action-over-underpayment-claims-201906">
        Domino's facing class action over underpayment claims (2019)
    </a></dd>

    <dt>7-Eleven</dt>
    <dd><a href="https://www.abc.net.au/4corners/7-eleven-promo/6729716">
        Revelations of dodgy bookkeeping, blackmail and the mass underpayment of 7-Eleven's workforce. (ABC 4Corners)</a></dd>
    <dd><a href="https://www.smh.com.au/business/workplace/7eleven-a-sweatshop-on-every-corner-20150827-gj8vzn.html">
        A sweatshop on every corner (SMH 2015)</a></dd>
    <dd><a href="https://ris.pmc.gov.au/sites/default/files/posts/2017/03/fair_work_ombudsman_report_into_7-eleven.pdf">
        Fair Work Ombudsman's Report into 7-Eleven (PDF 2017)</a></dd>
    <dt>Celebrity Chef George Calombaris</dt>
    <dd><a href="https://www.abc.net.au/news/2019-07-18/george-calombaris-made-establishment-backpays-underpaid-workers/11320274">
        Calombaris pays $7,832,953 to 515 underpaid employees at various restaurants. Fined $200,000. (2019)</a></dd>
    <dd><a href="https://www.abc.net.au/news/2017-04-04/george-calombaris-apologises-after-restaurant-staff-underpaid/8412852">
        Calombaris pays $2.6M in backpay, apologises to 162 employees for underpayment (2017)
    </a></dd>

    <dt>Subway Franchise</dt>
    <dd><a href="https://www.sbs.com.au/news/the-feed/they-told-me-that-they-could-pay-me-12-chinese-sthudent-speaks-out-about-wage-theft">
        Jonathon is an international student who was offered $12/hr so many times he assumed it was legal (2019)</a></dd>
    <dd><a href="https://www.sbs.com.au/language/english/subway-franchises-caught-underpaying-employees">
        FairWork recovers $81,638 in unpaid wages for 167 employees across 18 of 22 franchises (SBS 2019)</a></dd>
    <dd><a href="https://www.abc.net.au/news/2019-10-01/subway-employees-recover-unpaid-wages/11563342">
        FairWork recovers $81,638 in unpaid wages for 167 employees across 18 of 22 franchises (ABC 2019)</a></dd>
    <dt>Coffee Club</dt>
    <dd><a href="https://www.smartcompany.com.au/industries/retail/coffee-club-underpayment-geelong/">
        Coffee club franchisees busted for paying $15 flat rate to young workers. FWO seeking fines totaling $150,000 (2019)
    </a></dd>
    <dt>Tokyo Sushi/Sushi Blitz</dt>
    <dd><a href="https://www.smartcompany.com.au/industries/hospitality/sushi-underpaying-fwo-fine/">
        Rates of $9/hr draw $380,000 fine.
    </a></dd>
    <dd><a href="https://www.smartcompany.com.au/business-advice/legal/sushi-targeted-audit-fair-work-ombudsman-recovers-749000-unpaid-wages/">
        90% non-compliance across 39 businesses unveils $746,203 in unpaid wages in sushi restaurant blitz.
    </a></dd>

    <dt>Gloria Jeans Coffee</dt>
    <dd><a href="https://www.fairwork.gov.au/about-us/news-and-media-releases/archived-media-releases/2014-media-releases/july-2014/20140729-senan-eu-presser">
        Darlinghurst cafe enters Enforceable Undertaking after canceling shifts and terminating foreign worker for questioning underpayment (2014).
    </a></dd>
    <dd><a href="https://www.insideretail.com.au/news/cafe-caught-underpaying-201404">
        Franchisee defies Fair Work Ombudsman directions; dragged to court for underpaying 22 staff by $83,566 with rates of $8-10/hr,
        preying on international students (2014)</a></dd>
    <dt>Degani Cafe Melbourne</dt>
    <dd><a href="https://www.fairwork.gov.au/about-us/news-and-media-releases/2019-media-releases/november-2019/20191104-qha-foods-penalty">
        Mr Amin penalised $140,000 for underpayments of $12/hr (2018)
    </a></dd>
    <dt>Cafe 63 Chermside Brisbane</dt>
    <dd><a href="https://www.fairwork.gov.au/about-us/news-and-media-releases/2019-media-releases/october-2019/20191023-timi-trading-litigation-media-release">
        Court action for giving employees a food allowance instead of wages; failed employee 'better-off-overall' test (2019)</a></dd>

    <dt>Caltex</dt>
    <dd><a href="https://www.smh.com.au/business/workplace/caltex-accused-of-squeezing-service-station-operators-and-workers-20161123-gsvgal.html">
        Fairfax Media investigation into systemic underpayment and exploitation in Caltex Petrol franchises (2016)
    </a></dd>
    <dt>Chartime Tea</dt>
    <dd><a href="https://www.insideretail.com.au/news/chatime-facing-allegations-of-rampant-underpayment-201904">
        Underpaid foreign workers from China/Taiwan owed $200,000. Ombudsman restarts legal action after failure of 2016 agreement
        (2019).
    </a></dd>
    <dt>Baking Small Businesses, Bakers Delight franchisee (Central Coast NSW)</dt>
    <dd><a href="https://www.insideretail.com.au/news/bakers-delight-franchisee-pays-201503">
        53% of bakeries underpay their employees. 26 Bakers Delight employees under 21yo get short-changed $40,000 at a single franchise (2015)
    </a></dd>
    <dt>W.X.Z. Noodles (Dubbo, Wagga, Orange, Bundaberg)</dt>
    <dd><a href="https://www.fairwork.gov.au/about-us/news-and-media-releases/archived-media-releases/2014-media-releases/january-2014/chinese-workers-allegedly-underpaid-hundreds-of-thousands-of-dollars">
        Noodle chain underpays foreign staff up to $129,314 per employee, over 3 years, via $530 flat rate for 7 day/60hrs/week (2014)</a></dd>
    <dt>Crust Pizza</dt>
    <dd><a href="https://www.fairwork.gov.au/about-us/news-and-media-releases/2019-media-releases/november-2019/20191119-desire-food-penalty-media-release">
        'Rick' Lee coughs up $75,400 for underpaying foreign employees at Crust Pizza franchise in Cheltenham VIC and falsifying records to the Ombudsman;
        then quits the business (2019)
    </a></dd>
    <dd><a href="https://www.fairwork.gov.au/about-us/news-and-media-releases/2019-media-releases/november-2019/20191104-qha-foods-penalty">
        Franchisee (Mr Kumarasamy & Mr Raghuram) paid foreigners $6/hr less than their citizen counterparts.  Fined $104,000 (2019)
    </a></dd>
    <dt>La Porchetta Pizza</dt>
    <dd><a href="https://www.insideretail.com.au/news/la-porchetta-franchisee-fined-201406">
        Teenagers get half-price pizza and soft drink rather than $334,818 worth of unpaid wages (2014)
    </a></dd>
    <dd><a href="https://www.insideretail.com.au/news/la-porchetta-pay-review-201406">
        Fined $334,818 and enters Proactive Compliance Deed for staff underpayments over 3 years (2014)</a></dd>
    <dt>Sushi bar in Cairns QLD</dt>
    <dd><a href="https://www.insideretail.com.au/news/sushi-bar-caught-short-changing-staff-201404">
        Foreign workers paid flat rate of $9/hr because 'market rate' in Japan and 'all I could afford'. Enters repayment scheme worth $50,000. (2014)</a></dd>
    <dt>Sunglass Hut</dt>
    <dd><a href="https://www.fairwork.gov.au/about-us/news-and-media-releases/2019-media-releases/september-2019/20190924-sunglass-hut-eu-media-release">
        Sunglass Hut caught dodging overtime payments to part-time staff, worth $2,294,496 (2019)
    </a></dd>

</dl>
